@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');
:root {
  --dark : #8D0B41;
  --prime : #D39D55;
  --second :  #D6CFB4;
  --light : #FFF8E6;
}
* {
  font-family: Roboto Slab;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: fit-content;
  font-size: 1em;
  height: 150vh;
}

a {
  appearance: none;
  color: var(--dark);
  text-decoration: none;
}

li {
  list-style-position: inside;
}

header {
  background-color: white;
  color: var(--dark);
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 3;
  box-shadow: 0 0 5px var(--dark);
  transition: top 0.5s;
}

.hidden {
  top: -150px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

header>a {
  font-size: 1.6em;
  color: #A31D1D;
}

header a img {
  width: 80px;
  height: auto;
}

button {
  padding: 15px;
  border-radius: 30px;
  background-color: var(--dark);
  color: white;
  font-size: 1.03em;
  transition: 0.4s;
  border: 3px solid var(--dark);
}

button:hover {
  background-color: transparent;
  color: var(--dark);

}

header nav ul li {
  text-transform: uppercase;
  font-size: 0.95em;
  list-style: none;
  padding: 10px 0px;
  transition: 0.3s;
}

header nav ul li:hover {
  transform: translateY(-5px);
}

header nav ul li a:hover {
  color: var(--prime);
}

.hero {
  background: url("./Assets/images/1stback.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  text-shadow: 1px 1px 3px var(--dark);
  transition: 1s;
}

.hero .hero_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.hero div div p {
  color: var(--dark);
  font-size: 3.6em;
  font-weight: 600;
}

.hero div div p i {
  color: #A31D1D;
}

.hero div button {
  padding: 15px 30px;
  color: white;
  background-color: var(--dark);
}

.hero div button:hover {
  padding: 15px 30px;
  background-color: transparent;
}

.prize {
  width: 100%;
  height: 700px;
}

.prize video {
  position: fixed;
  width: 100%;
  position: absolute;
}

footer {
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: start;
  position: relative;
  bottom: 0;
  padding: 40px;
  background-color: var(--dark);
  box-shadow: 0 0 5px #c3c3c3;
}

footer .comp {
  width: 20%;
}

footer div h3 {
  color: #A31D1D;
  text-transform: uppercase;
  margin-bottom: 10px;
}